html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.header{
    width: 88%;
    height: 10%;
    background-color: darkgrey;
    border: solid blue 2px;
    margin: 0 auto;
}