<body>

    <div class="rubrikloggin row">

        <a href="skautolight.html">  <i class='fas fa-arrow-circle-left'></i></a>

        <p class="rubrik">Sälj din bil</p>

    </div>

    <div class="logginfelt">

        <div class="reg"><p class="fix">Regristrera dig</p></div>

        <div class="loggin"><p class="fix">Logga in</p></div>

        <form asp-


    </div>



</body>