<head>
    <script src='https://kit.fontawesome.com/ba7c1ecbff.js' crossorigin='anonymous'></script>

</head>

<body>



    <div class="rubrikloggin row"> 
         <i class='fas fa-arrow-circle-left'></i>        
        <p class="rubrik">Sälj din bil</p></div>     
        <div class="logginfelt">      
      
        <div class="loggin"> @Html.Partial("LoginPartial.cshtml")</div>
        <h3> @ViewBag.ErriMsg </h3>

        <div class="reg"><p class="fix"> <a asp-action="Index" asp-controller="laddaupp"><p class="lenkbort">Regristrera light</a></p></div>
    </div>

      

</body>