@model skauto.Models.skuser

<h4>skuser</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="namn" class="control-label"></label>
                <input asp-for="namn" class="form-control" />
                <span asp-validation-for="namn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mailadress" class="control-label"></label>
                <input asp-for="mailadress" class="form-control" />
                <span asp-validation-for="mailadress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <hr />
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
