@{
    ViewData["Title"] = "Home Page";
}



    <div class="header">
        <div class="row">
            <div class="col">
                
            <img class="logga" src="bilder/Skauto_loga.jpg">
            </div>
            <div class="col">
            <div class="ms-6 verdera"> <p class="lenkbort">Värdera din bil</p></div>
            </div>
            <div class="col">

            <div class="ms-1 selj"> <a asp-action="Index"  asp-controller="Login"><p class="lenkbort">Sälj din bil</a></p></div>
            </div>
        </div>
    </div>

    <div class="annons"></div>
<div class="inlagg">
    <a asp-action="Index" asp-controller="buy"><p class="lenkbort">köp denna bil</a>

        <div class="bild"></div>

        <div class="info"></div>

    </div>

<div class="inlagg">
</div>

   <div class="inlagg">
   </div>

   <div class="inlagg">
   </div>
