@{
    ViewData["Title"] = "Home Page";
}



    <div class="header">
        <div class="row">
            <div class="col">
                
            <img class="logga" src="bilder/skauto_loga.png">
            </div>
            <div class="col">
            <div class="ms-6 verdera"> <p class="lenkbort">Värdera din bil</p></div>
            </div>
            <div class="col">

            <div class="ms-1 selj"> <a asp-action="Index"  asp-controller="Login"><p class="lenkbort">Sälj din bil</a></p></div>
            </div>
        </div>
    </div>

    <div class="annons"> Annons</div>
    <div class="inlagg"> 
   

        <div class="bild"></div>

        <div class="info">
            <ul>
            <li>Märke</li>
            <li>Märke</li>
            <li>Märke</li>
            <li>Märke</li>
            <li>Märke</li>
            </ul>
        </div>
    <a asp-action="Index" asp-controller="buy">
        <span class="link"></span>
    </a>
    </div>

<div class="inlagg">
</div>

   <div class="inlagg">
   </div>

   <div class="inlagg">
   </div>
