@{
    ViewData["Title"] = "Home Page";
}



    <div class="header">
        <div class="row">
            <div class="col">
                
            <img class="logga" src="bilder/skauto_loga.png">
            </div>
            <div class="col">
            <div class="ms-6 verdera"> <a asp-action="index" asp-controller="verdera"> <p class="lenkbort">Värdera din bil</a></p></div>
            </div>
            <div class="col">

            <div class="ms-1 selj"> <a asp-action="Index"  asp-controller="Login"><p class="lenkbort">Sälj din bil</a></p></div>
            </div>
        </div>
    </div>

    <div class="annons"> Annons</div>
    <div class="inlagg">


    <div class="bild"> <img class="" src="/bilder/begangnadbil1.jfif"></div>

        <div class="info">
            <ul>
            <li>Märke</li>
            <li>Årsmodell</li>
            <li>Hästkrafter</li>
            <li>Mil</li>
            <li>Plats</li>
            <br>
            <li>Pris</li>
            </ul>
        </div>
    <a asp-action="Index" asp-controller="buy">
        <span class="link"></span>
    </a>
    </div>

<div class="inlagg">
    <div class="bild"> <img class="" src="/bilder/begangnadbil1.jfif"></div>

    <div class="info">
        <ul>
            <li>Märke</li>
            <li>Årsmodell</li>
            <li>Hästkrafter</li>
            <li>Mil</li>
            <li>Plats</li>
            <br>
            <li>Pris</li>
        </ul>
    </div>
    <a asp-action="Index" asp-controller="buy">
        <span class="link"></span>
    </a>
</div>

   <div class="inlagg">
    <div class="bild"> <img class="" src="/bilder/begangnadbil1.jfif"></div>

    <div class="info">
        <ul>
            <li>Märke</li>
            <li>Årsmodell</li>
            <li>Hästkrafter</li>
            <li>Mil</li>
            <li>Plats</li>
            <br>
            <li>Pris</li>
        </ul>
    </div>
    <a asp-action="Index" asp-controller="buy">
        <span class="link"></span>
    </a>
   </div>

   <div class="inlagg">
   </div>
