

<body>

    <div class="rubrikloggin row">

       <i class='fas fa-arrow-circle-left'></i></a>

        <p class="rubrik">Titel på annons</p>

    </div>

    <div class="bil">
    </div>
    <div class="egentext"> Beskrivning i egna ord om bilen</div>

    <div class="rubrikloggin row">

        <i class='fas fa-arrow-circle-left'></i></>

        <p class="rubrik">Kontakta Jhonny</p>

    </div>

</body>





