@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <script src='https://kit.fontawesome.com/ba7c1ecbff.js' crossorigin='anonymous'></script>

</head>

<body>



    <div class="rubrikloggin row">
        <i class='fas fa-arrow-circle-left'> </i>  <p class="rubrik">Värdera din bil</p>
    </div>
    <div class="logginfelt">

        <p> Fyll i uppgiter</p>

    </div>



</body>
