<body>

    <div class="rubrikloggin2 row">
        <p class="rubrik">Sälj din bil</p>
     

    </div>

    <div class="bil2">
       
        <div> @Html.Partial("SparaNyBil.cshtml")</div>
        

    </div>
    <div class="egentext"> Skriv egen text om bilen</div>

    <div class="rubrikloggin row">

        <p class="rubrik">Ladda upp bil</p>
       
    </div>

</body>